html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Maven Pro';
 }

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-image: url(../img/header_bg-1.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    min-height: 960px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hdr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(23, 49, 83, 0.4);
    min-height: 100%;
    width: 100%;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 90px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header-logo {
    background-image: url(../img/header_logo1.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    width: 260px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
}

.header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bolder;
}

.transparent-button {
    background-color: Transparent;
    color: white;
    text-transform: uppercase;
    height: 45px;
    border-radius: 5px;
    border: 2px solid white;    
    cursor: pointer;
    max-width: 150px;
}

.sup-btn {
    margin-left: 20px;
}

.navs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.top-line-hrev{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    float: right;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.menu-hamburger{
    background-image: url(../img/hamburger-menu-icon.gif);
    width: 30px;
    height: 23px;  
    margin-right: 5px;  
}










.ads-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
}

.ads-title {
    font-size: 56pt;
    font-weight: bolder;
    text-align: center;
}

.ads-title b {
    font-size: 80pt;
    color: #8ae2e2;
}


.ads-title-other{
    text-align: center;
    width: 100%;
    font-size: 26pt;
}
.ads-title-other b {
    color: #8ae2e2;
}


.ads-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #dd3131;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 274px;
    height: 70px;
    color: white;
    font-size: 18pt;
    font-weight: bolder;
    cursor: pointer;
}

.ads-hrev {
    color: #8ae2e2;
}

.caregiver {    
    background-color: #dff0f0;   
}

.caregiver p{
    text-align: center;
    color: #0b2a37;
    font-size: 18pt;
    font-weight: bolder;
}



.categories{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.categories-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

.categories-title {
    font-size: 36pt;
    color: #0b2a37;
    font-weight: bolder;
}

.category-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
}




.category-text{
    height: 150px;
    color: #0b2a37;
    font-size: 14pt;
    text-align: center;
}
.category-text p {
    font-size: 22pt;
    font-weight: bolder;
    color: #0b2a37;    
}


.cat-img-1 {
    background-image: url(../img/category-1.png);    
}
.cat-img-2 {
    background-image: url(../img/category-2.png);    
}
.cat-img-3 {
    background-image: url(../img/category-3.png);    
}
.cat-img-4 {
    background-image: url(../img/category-4.png);    
}


.background-2 {
    background-image: url(../img/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    
}

.instruction {
    background-color: #66cfcf;
    width: 100%;
    height: 900px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inst-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(45% - 50px);
    height: 100%;
    color: white;
    font-size: 60px;
    font-weight: bolder;
    padding-left: 50px;
}

.inst-scheme{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 60%;
    height: 100%;
    color: white;
    font-size: 12pt;
}

.inst-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.first-row {
    padding-left: 25%;
}

.second-row {
    padding-right: 25%;
    top: -4%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.third-row {
    padding-left: 25%;
    top: -8%;
}



.fourth-row {
    padding-right: 25%;
    top: -12%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.inst-text{
    width: 35%;
    margin: 20px 0 0 20px;
}

.inst-text-r {
    text-align: right;
    margin: 20px 20px 0 0;
}

.inst-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    background-image: url(../img/ellipse.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.inst-arrow-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url(../img/right-connection-arrow.png);
    background-repeat: no-repeat;
    width: 256px;
    height: 192px;
    margin-top: 30px;
    margin-left: 20px;
}

.inst-arrow-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url(../img/left-connection-arrow.png);
    background-repeat: no-repeat;
    width: 256px;
    height: 188px;
    margin-top: 30px;
    
}

.inst-arrow-left img {
    margin-left: 35%;
}

.inst-arrow-right img {
    margin-right: 33%;
}

.left-side-row {
    text-align: left;
}

.right-side-row {
    text-align: right;
}


.inst-icon img {
    min-width: 30px;
    min-height: 30px;
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
}






.background-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../img/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
}
.clients-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    text-align: center;    
    font-size: 36pt;
    font-weight: bolder;
    color: #0b2a37;
    width: 100%;
    height: 150px;
}


.clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
}

.review-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}

.review-cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 410px;
    margin: 10px
}



.review {
    background-image: url(../img/rect.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 150px;
    color: #0b2a37;
    padding: 0 5% 0;
}

.client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #0b2a37;
    font-size: 16pt;
    width: 100%;
}

.client-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    float: right;
    margin-left: 10px;
}

.client-1 {
    background-image: url(../img/client1.png);
}
.client-2 {
    background-image: url(../img/client2.png);
}


.background-4 {
    background-image: url(../img/background4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
}

.advantages {
    background-color: #005173;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 900px;
}
.advs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    color: white;
    font-size: 14pt;
}

.adv {
    background-image: url(../img/list-item.png);
    background-position: left top;
    background-repeat: no-repeat;
    padding: 10px 0 30px;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.find-care {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    color: white;
    font-size: 50pt;

    position: relative;
    background-image: url(../img/logo-shape1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100%;

}

.help-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 250px;
    text-align: center;
    color: #0b2a37;
    font-size: 16pt;
}
.help-center b {
    font-size: 30pt;
}

.help-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
}


.call-btn {
    border-radius: 5px;
    height: 40px;
}



.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #0b2a37;
    width: 100%;
    height: 300px;
}


.follow-us {  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 100px;
    color: white;
    width: 50%;    
}

.follow-us b {
    font-size: 22pt;
    float: left;
    margin-right: 5px;
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.footer-logo {
    background-image: url(../img/header_logo1.png);
    background-repeat: no-repeat;
    width: 260px;
    height: 61px;
    margin-bottom: 30px;
}

.icon {
    background-image: url(../img/FB-icon.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    -webkit-box-shadow: 0, 0, transparent;
            box-shadow: 0, 0, transparent;
    cursor: pointer;
    float: left;
    margin: 0 5px 0;
}

.fb {
    background-image: url(../img/FB-icon.png);
}
.tw {
    background-image: url(../img/TW-icon.png);
}
.in {
    background-image: url(../img/in-icon.png);
}


.navigations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 12pt;
    width: 50%;
}

.navigation {
    width: calc(100%/3);
}

.navigation a {
    color: white;
    text-decoration: none;
    line-height: 180%;
}
